/* estilos para todo el body */
body{
    margin: 0;
    padding: 0;
    background-color: #DDF9F1;
    font-family: "Spartan";
}


/* formulario principal */
.principal-content{
    width: 70%;
    height: 90vh;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    border: solid 2px #D3D3D3;
    background-color: #F6F6F6;
}


/* titulo */
.title-trivia{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}

/* datos personales */
.data-person{
    width: 30%;
    margin: auto;
    margin-bottom: 70px;
    text-align: center;
}

/* seccion de configuracion */
.settings-form{
    width: 80%;
    margin: auto;
}   

.row{
    width: 100%;
    margin-bottom: 5%;
}

.col{
    display: flex;
    justify-content: space-between;
}

.item-form{
    width: 40%;
    text-align: center;
}

input{
    height: 40px;
    border: none;
    border-radius: 5px;
}

select{
    height: 40px;
    border: none;
    border-radius: 5px;
}

option{
    font-size: 17px;
}

/* boton de comenzar */

.button-form{
    display: flex;
    justify-content: center;
}

.button-form button{
    border: none;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    background-color: #DAF0F4;
    cursor: pointer;
}

.button-form button:hover{
    background-color: #E8F4F6;
}


/* seccion de preguntas */
.dev-questions{
    display: none;
}

.seccion-question{
    width: 70%;
    margin: auto;
}

.question{
    text-align: center;
}

.seccion-buttons{
    margin: auto;
    margin-top: 100px;
    width: 70%;
}

.Rbutton{
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    background-color: #4DCDE9;
    cursor: pointer;
    color: white;
}

.Rbutton:hover{
    background-color: #7FDAEE;
}

#infoQuestion{
    font-size: 10px;
}



/* seccion end game */

#triviaEndGame{
    display: none;
}

.endGame{
    display: flex;
    justify-content: center;
}